<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data visualization Elezi Ferialdo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Data visualization Elezi Ferialdo</h1>
    </header>
    <main>
        <!-- Section for the 3D Earth Visualization -->

        <!-- Section for the Line Chart -->
        <section>
            <h2>Average carbon dioxide (CO₂) levels in the atmosphere from 1959 to 2023</h2>
            <p>Atmospheric CO₂ levels hit a record 421.08 ppm in 2023. Pre-industrial levels averaged 280 ppm, but human activities like burning fossil fuels and deforestation have driven CO₂ over 50% higher. </p>
            <div id="line-chart">
                {{ line_graph_html|safe }}
            </div>
        </section>
    </main>
    <footer>
        <p>© 2024 Data Visualization</p>
    </footer>
</body>
</html>
